.decks {
  position: relative;
  cursor: pointer;
  margin-bottom: 50px;

  &__svg {
    cursor: pointer;
    padding: 20px;
    width: 30px;
    border-radius: 50%;
    color: grey;
    border: 3px solid grey;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 30px;
  }

  &__add-category {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
}
