.home-image {
  position: relative;
  display: inline-block;

  &__hero {
    width: 100vw;
    max-width: 620px;
  }

  &__icons {
    width: 4.5vw;
    max-width: 50px;
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    @media only screen and (min-width: 768px) {
      animation: popup 0.3s cubic-bezier(0.15, 0.77, 0.69, 1.49) both;
    }

    &:first-of-type {
      // its the big image
      background: transparent;
      width: 100vw;
      max-width: 620px;
    }

    &:nth-of-type(2) {
      left: 26.6%;
      top: 16%;
    }

    &:nth-of-type(3) {
      left: 36%;
      top: 10%;
      animation-delay: 0.4s;
    }

    &:nth-of-type(4) {
      left: 35%;
      top: 25%;
      animation-delay: 0.8s;
    }

    &:nth-of-type(5) {
      left: 44%;
      top: 19%;
      animation-delay: 1.2s;
    }
  }
}

@keyframes popup {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
