.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
  padding: 20px;
  background: #2b3648;
  color: white;
  flex-flow: column-reverse;

  @media only screen and (min-width: 768px) {
    flex-flow: row;
  }

  &__menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }

  &__item {
    margin: 0 10px;
  }

  &__link {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }

  &__logout {
    display: grid;
    grid-template-columns: max-content 20px;
    align-items: center;
    grid-gap: 15px;

    &--button {
      fill: #ffc000;
      stroke: #ffc000;
    }
  }
}
