.delete-card {
  background: white;
  padding: 20px;
  display: grid;
  border-radius: 5px;
  grid-template-columns: max-content max-content;
  position: relative;

  &__title {
    grid-column: 1/-1;
  }

  &__yes,
  &__no {
    padding: 5px 40px;
    border: none;
    margin: 5px 20px;
    cursor: pointer;
  }

  &__yes {
    background: rgba(red, 0.5);
  }

  &__spinner {
    position: absolute;
    background: rgba(100, 100, 100, 0.8);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
