.auth {
  white-space: nowrap;

  &-input {
    border: none;
    border-bottom: 1px solid grey;
    margin: 0 10px;

    &:focus {
      outline: none;
      border-bottom: 2px solid green;
    }
  }

  &-submit {
    border: none;
    padding: 5px;
  }
}